
html {
    background-color: lightgrey;
}

.flexbox-container {
    display:flex;
    justify-content: center;
}

.mainBody {
    display:flex;
    background-color: whitesmoke;
    min-width: 600px;
    min-height: 400px;
}
.sideRight > h1 {
    text-align: center;
}
.category_left > h1 {
    text-align: center;
}
.category_left{
    flex:1;
    background-color:lightblue;
    order:1;
    flex-direction: column;
}
.category_left > li {
    padding-bottom: 20px;
}
.sideRight {
    flex:3;
    background-color:lightyellow; 
    order:2;
    flex-direction: column;
}
